
<h1>Home Page</h1>


<!-- Triggers the modals -->
<a href="#" data-reveal-id="firstModal" class="radius button">Login</a>

<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
			<form action="/session" method="post">

				<label for="email">Email Address</label>
				<input type="email" name="email" placeholder="dom@littlepony.com">

				<label for="password">Password</label>
				<input type="password" name="password">

				<input type="submit" value="Log In">
			</form>	
  <p><a href="#" data-reveal-id="secondModal" class="secondary button">Register</a></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
		<form action="/session" method="post">
			<label for="username">Username</label>
			<input type="text" name="username" placeholder="DomIsCool">

			<label for="email">Email Address</label>
			<input type="email" name="email" placeholder="dom@littlepony.com">

			<label for="password">Password</label>
			<input type="password" name="password">

			<input type="submit" value="Log In">
		</form>	
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!-- Reveal Modals end -->

<% if race_running? %>
	<!-- <form action="/race/join" method="post">
		<input type="submit" value="Join Race">
	</form> -->
	<button id="join_race_btn">Join Race</button>
<% else %>
	<form action="/race/new" method="post">
		<input type="submit" value="New Race">
	</form>
<% end %>
