<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Horizons</title>

  <!-- FavIco -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

 <!-- Google Fonts -->
  <link href='//fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/foundation-icons.css" />

  <!-- Meta -->
  <meta name="author" content="Team Aslan">
  <meta name="description" content="General Assembly Melbourne WDI Final project, creating adventure exploration application based on the user current location using Google map">


  <!-- Stylesheets -->
  <link rel="stylesheet" href="/stylesheets/foundation.css" />
  <link rel='stylesheet' href='/stylesheets/main.css'>

  <script src='javascripts/jquery.js'></script>
  <script src="javascripts/vendor/modernizr.js"></script>

</head>
<body>

  <%= yield %>

<script src="/javascripts/application.js"></script>
</body>