<h2>New Checkpoint</h2>


<form action="/checkpoints/new" method="post">
	<label for="name">Checkpoint Name</label>
	<input type="name" name="name">

	<label for="description">Description</label>
	<textarea name="description" id="description" cols="30" rows="10"></textarea>

	<label for="latitude">Latitude</label>
	<input type="text" name="latitude">

	<label for="longitude">Longitude</label>
	<input type="text" name="longitude">

	<input type="submit" value="Create Checkpoint">
</form>
