
<% if race_running? %>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
	<script src="javascripts/checkpoints.js"></script>
	<script src="javascripts/geolocation.js"></script>

	<div id="Game-page">
		  <div id="Main-Header-DIV" class="row">
		    <header class="main-Header-DIV-Header small-8 small-offset-2 medium-4 medium-offset-4 columns">
		      <object type="image/svg+xml" data="img/HorizonsLogo_OneColour.svg" class="logo">
		        Team Aslan&#39;s Horizons <!-- fallback image in CSS -->
		      </object>
		    </header>
		  </div>
		<div id="map-canvas"></div>
		<div id="GameDetails-Container">
			<div class="inGame-RELforCheckpointDIV row">

	<!-- display map stuff if there is a race running -->

				<!-- Size Classes: [small medium large xlarge expand] -->
				<a href="#" data-reveal-id="myModal" class="small-4 columns hide-for-medium-up menu-icon">MENU</a>
				<div id="myModal" class="reveal-modal" data-reveal>
					<p class="username">MattCameron</p>
					<p class="timer">00:00:00</p>
					<button class="btnLogout">Log Out</button>
					<a class="close-reveal-modal">&#215;</a>
				</div>
				<div class="timebox medium-5 columns hide-for-small-only">
					<h2 class="username-InGame"><span class="status-InGame"></span> MattCameron</h2>
					<h1 class="timer-InGame">00:00:00</h1>
				</div>
				<div class="divBoxCheckpoint-Container small-8 medium-6 columns">

					<div class="divBoxCheckpoint">
						<h5 class="inGame-Checkpoint">Checkpoints <span class="tally">4/6</span></h5>
						<div class="progress progress-InGame success round">
							<span class="meter inGame-Meter" style="width: 50%"></span>
						</div>
					</div>

				</div>


				<div class="medium-1 columns hide-for-small-only">
					<form action="/session" method ="post" >
							<input type="hidden" name="_method" value="delete">
						<button class="btnLogout-inGame"><span class="fa fa-power-off"></span></button>
					</form>
				</div>
			</div>
		</div>
	</div>

<!-- otherwise, tell them to start a new race -->
<% else %>
	<h1>This Race is over!! :( </h1>

	<h3>Time to start a new one</h3>
	<form action="/race/new" method="post">
		<input type="submit" value="New Race">
	</form>
<% end %>
