<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
 <script src="javascripts/checkpoints.js"></script>
 <script src="javascripts/geolocation.js"></script>
<h2>Race</h2>

<div id="map-canvas" style="width:100vw;height:100vh;"></div>