<h2>Register</h2>

<form action="/session" method="post">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="DomIsCool">

	<label for="email">Email Address</label>
	<input type="email" name="email" placeholder="dom@littlepony.com">

	<label for="password">Password</label>
	<input type="password" name="password">

	<input type="submit" value="Log In">
</form>