/* FROM BETA CSS */

#Main-Header-DIV {
	position: relative;
	top: 25px;
	  z-index: 99999;
}

.main-Header-DIV-Header {
	position: absolute;
}

.progress p {
	margin-bottom: -1px;
}

.inGame-Meter {
	width: 0%;
}

/******************************************/


html {
  height: 100%;
  max-height: 100%; }

main {
  height: 100%;
  width: 100%; }

#Main-Header-DIV {
  position: relative;
  top: 25px; }

#Main-Footer-DIV {
  position: relative;
  bottom: 0; }

.main-Header-DIV-Header {
  position: absolute; }

.main-Footer-DIV-Footer {
  position: absolute;
  bottom: 0;
  color: #FAFAFA;
  width: 100%; }

.main-Footer-DIV-Footer p {
  font-size: 12px;
  padding-top: 10px; }

.main-Footer-DIV-Footer a {
  color: #f9ce55; }

#Horizons-Page-1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/HRZ_Page1_BG.jpg");
  background-position: center;
  background-size: cover; }

.pageContentWrapper {
  margin-top: 145px; }

.horizon-Page-Blurb {
  position: relative; }

.horizon-Page-Blurb:before {
  content: " ";
  height: 6px;
  width: 90px;
  position: absolute;
  top: 0;
  display: block;
  background: #2ea5b9; }

.horizon-Page-Blurb h2 {
  font-family: "Arvo", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 44px;
  line-height: 1.25;
  margin-top: 25px;
  text-transform: uppercase;
  color: #FAFAFA; }

.horizon-Page-Blurb p {
  font-weight: 700;
  font-size: 20px;
  color: #FAFAFA; }

.horizon-Page-Blurb-Secondary-Link:before {
  content: "\f068 ";
  font-family: "FontAwesome";
  color: #f9ce55;
  margin-right: 8px;
  font-size: 12px; }

.horizon-Page-Blurb-Secondary-Link {
  font-weight: 700;
  font-size: 18px;
  color: #FAFAFA;
  text-transform: uppercase; }

.horizon-Page-Race-Status h4 {
  font-family: "Arvo", Georgia, Cambria, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #FAFAFA;
  font-size: 28px;
  margin-top: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.9); }

.horizon-Page-Race-Status h4 i {
  margin-right: 10px; }

.horizon-Page-Race-Status ul {
  margin: 0 0 50px 0;
  line-height: 0;
  padding: 0; }

.horizon-Page-Race-Columns h5, .horizon-Page-Race-Columns-Title h5 {
  color: #FAFAFA;
  font-size: 1em; }

.horizon-Page-Race-Columns-Title h5 {
  text-transform: uppercase;
  font-weight: 700; }

.horizon-Page-Race-Columns h5 i {
  margin-right: 5px; }

.horizon-Page-Race-Columns-TimeLapse {
  text-align: center; }

.progress {
  background-color: transparent;
  border: 1px solid white;
  height: 1rem;
  width: 66%;
  margin: 6px 10px 0 0;
  float: left;
  border-radius: 4px; }

.progress .meter {
  width: 60%;
  background: #FAFAFA; }

.main-btn {
  text-transform: uppercase;
  font-weight: 700; }

.howToPlay-btn {
  color: #FAFAFA;
  font-size: 1.25rem;
  padding: 1.125rem 2.25rem 1.1875rem 2.25rem; }

.aslan-logo {
  height: 30px; }

.accessHorizons-LoginSection h4, .accessHorizons-RegisterSection h4 {
  font-family: "Arvo", Georgia, Cambria, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #0c1c2d;
  margin-bottom: 20px; }

.accessHorizons-RegisterSection {
  border-top: 1px dashed #a4a4a4;
  padding-top: 35px;
  margin-top: 30px;
  position: relative; }

.accessHorizons-RegisterSection:before {
  content: " or ";
  color: #FAFAFA;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  line-height: 2;
  display: block;
  background: #a4a4a4;
  position: absolute;
  top: -17px;
  left: 48%; }

span.prefix, label.prefix {
  font-size: 18px; }

.accessHorizons-forgotPassword {
  text-align: right;
  padding-top: 19px;
  font-size: 12px; }

.accessHorizons-LogInBTN {
  text-align: right; }

@media only screen and (max-width: 40em) {
  .horizon-Page-Blurb {
    display: none; }

  .horizon-Page-Race-Columns h5 {
    font-size: .725em; }

  .progress {
    width: 72%;
    margin-top: 4px;
    height: .75rem; }

  .horizon-Page-Race-Status ul {
    margin-bottom: 30px; }

  .howToPlay-btn {
    text-align: center; } }

    /*Race.erb CSS****************************/
#Game-page {
	z-index: -1;
}
#GameDetails-Container {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 50;
	margin-bottom: 0;
	padding-bottom: 15px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-9 */

}

#map-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.inGame-RELforCheckpointDIV, .divBoxCheckpoint-Container {
	position: relative;
}

.username-InGame{
	margin-bottom: 0px;
	line-height: 0.5;
	color: #0c1c2d;
}

.status-InGame {
	  display: inline-block;
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 100%;
}

.timer-InGame {
	font-size: 6em;
  	font-weight: 600;
  	line-height: 1;
  	color: #0c1c2d;
	font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
}

.progress {
  background-color: transparent;
  margin: 6px 10px 0 0;
  float: left;
  border-radius: 4px;
}

.progress-InGame {
	width: 100%;
	border: 3px solid #0c1c2d;
	height: 2rem;
}

.inGame-Meter {
	background: #0c1c2d !important;
}

h5.inGame-Checkpoint {
	font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
  margin-bottom: 3px;
  color: #0c1c2d;
  margin-top: 45px;
}

.btnLogout-inGame {
color: #fafafa;
  background: #0c1c2d;
  font-size: 1em;
  line-height: 1.75;
  margin-bottom: 0;
  margin-top: 50px;
  text-transform: uppercase;
}

.btnLogout-inGame:hover {
	color: #0c1c2d;
}

#myStatusModal {
	background: #0c1c2d;
}

#myStatusModal h2 {
	color: #fafafa;
	text-transform: uppercase;
}

.username-InGame-ModalBox .status-InGame {
	width: 20px;
	height: 20px;
}

#myStatusModal .close-reveal-modal {
	color: #fafafa;
}

#myStatusModal .timer {
	font-size: 84px;
  font-weight: 700;
  line-height: 1;
  color: #fafafa;
}

#myStatusModal .btnLogout {
	width: 100%;
}

.inGame-RELforCheckpointDIV-Menu {
	position: relative;
  font-size: 55px;
  color: #fafafa;
  text-align: center;
    bottom: -38px;
  background: #0c1c2d;
}


@media only screen and (max-width: 500px) {
	.inGame-Checkpoint {
		font-size: 14px;
	}
}

/* NEW */
#Main-Header-DIV {
  z-index: 9999;
}

#HowToPlay {
  background: #7669aa;
}

.howToPlay-Info h4{
  font-family: "Arvo", Georgia, Cambria, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #fafafa;
  font-size: 28px;
  margin-top: 0;
  border-bottom: 1px solid rgba(250,250,250,.90);

}

.colour-marker {
  color: #f52564; 
}


.howToPlay-Info ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  color: #fafafa;
}

.howToPlay-Info ul li h3 {
font-weight: 700;
  font-size: 20px;
  color: #FAFAFA;
}

.howToPlay-Info ul li i{
  float: left;
  width: 10%;
  display: block;
  background: #645894;
  height: 40px;
  text-align: center;
  font-size: 21px;
  line-height: 1.95;
}

.howToPlayList-Right {
  width: 85%;
  padding-left: 5%;
  float: left;
}

.otherPageContent {
    top: 145px;
  position: relative;
}

.howToPlay-Devices {
  height: 512px;
  background: url("../img/devicesamples.png")no-repeat center;
}

.howToPlay-Devices .main-btn {
  top: 50%;
}

#DaTeam {
  background: url('../img/teamAslanBG.jpg')no-repeat center;
  background-size: cover;
}

.daTeam-Container {
  background: #F8F9FD;
  overflow: hidden;
    border-radius: 0 4px 4px 0;
    margin-bottom: 15px;
}

.daTeam-Profile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.daTeam-Profile ul li{
position: relative;
}

.daTeam-Profile figure {
  margin: 0;
  float: left;
  position: relative;
}

.daTeam-Profile figure:after {
content: " ";
  width: 0;
  height: 0;
  border-width: 15px 15px 15px 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-color: transparent #F8F9FD transparent #F8F9FD;
  top: 20px;
  right: 0;
}

.daTeam-Profile section {
  float: left;
  padding-left: 15px;
}


.daTeam-Profile h4 {
    font-family: "Arvo", Georgia, Cambria, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #0c1c2d;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 0;
}

.daTeam-Profile h5 {
    font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  color: #2ea5b9;
}

.sosmedAslan li {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  margin-top: 20px;
}

.raceOver-Container {
  width: 100%;
  height: 100%;
  background: #0c1c2d;
}

.logo-result {
fill: red;
}
.raceResultsContainer {
  top: 160px;
  position: relative;
}
.raceResults {
  text-align: center;
}

.raceResults h1 {
    font-family: "Arvo", Georgia, Cambria, "Times New Roman", Times, serif;
text-align: center;
color: #fafafa;
text-transform: uppercase;
}

.raceResults h3 {
      font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
color: #fafafa;
margin-bottom: 20px;
}




